* {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  height: 100%;
}

.header {
  text-align: center;
  margin-top: 30px;
}

.super-container {
  max-width: 50%;
  margin: 0 auto;
  padding-top: 30px;
}

.button-container,
.strict-container,
.go-container,
.display {
  text-align: center;
  margin: 20px 0;
}

input {
  padding: 10px;
  background-color: white;
  color: black;
  font-size: 1em;
  border: 1px solid gray;
  border-radius: 5px;
}
input:focus {
  outline: none;
}

.button1 {
  padding: 10px;
  background-color: gray;
  width: 60px;
  height: 60px;
  color: white;
  font-size: 2em;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}
.button1:focus {
  outline: none;
}

.button2 {
  padding: 10px;
  background-color: green;
  width: 60px;
  height: 60px;
  color: white;
  font-size: 1.3em;
  border: 1px solid gray;
  border-radius: 50%;
  cursor: pointer;
}
.button2:focus {
  outline: none;
}

@keyframes onebuzz {
  from {
    background: #9f0f17;
  }
  30% {
    background: #ff4c4c;
  }
  70% {
    background: #ff4c4c;
  }
  to {
    background: #9f0f17;
  }
}
@keyframes twobuzz {
  from {
    background: #094a8f;
  }
  30% {
    background: #1c8cff;
  }
  70% {
    background: #1c8cff;
  }
  to {
    background: #094a8f;
  }
}
@keyframes threebuzz {
  from {
    background: #cca707;
  }
  30% {
    background: #fed93f;
  }
  70% {
    background: #fed93f;
  }
  to {
    background: #cca707;
  }
}
@keyframes fourbuzz {
  from {
    background: #00a74a;
  }
  30% {
    background: #13ff7c;
  }
  70% {
    background: #13ff7c;
  }
  to {
    background: #00a74a;
  }
}
.one {
  background: #9f0f17;
}

.two {
  background: #094a8f;
}

.three {
  background: #cca707;
}

.four {
  background: #00a74a;
}

.one.buzz {
  background: #ff4c4c;
}

.two.buzz {
  background: #1c8cff;
}

.three.buzz {
  background: #fed93f;
}

.four.buzz {
  background: #13ff7c;
}

.red {
  color: red;
}

.toggle-container {
  height: 30px;
  text-align: center;
  margin: 20px auto;
}

.togs-on,
.togs-off {
  height: 35px;
  display: inline-block;
  vertical-align: middle;
}

.togs {
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  display: inline-block;
  width: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.togs-checkbox {
  display: none;
}

.togs-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 30px;
  padding: 0;
  line-height: 30px;
  border: 2px solid #CCCCCC;
  border-radius: 30px;
  background-color: #CCCCCC;
  transition: background-color 0.3s ease-in;
}

.togs-label:before {
  content: "";
  display: block;
  width: 30px;
  margin: 0;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 28px;
  border: 2px solid #CCCCCC;
  border-radius: 30px;
  transition: all 0.3s ease-in 0s;
}

.togs-checkbox:checked + .togs-label {
  background-color: #42C0FB;
}

.togs-checkbox:checked + .togs-label {
  border-color: #42C0FB;
}

.togs-checkbox:checked + .togs-label:before {
  border-color: #42C0FB;
}

.togs-checkbox:checked + .togs-label:before {
  right: 0;
}
